<div>
    <h2>Formulario</h2>
    <form action="/users/html-onwire" method="post">
        Nombre: <input type="text" name="nombre" id="nombre" />
        Apellido: <input type="text" name="apellido" id="apellido" />
        DNI: <input type="text" name="dni" id="dni" />
        <input type="submit" value="REGISTRAR">
    </form>
    <h2>Datos:</h2>
    {{#if users.length }}
        <table>
            <tr>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>DNI</th>
            </tr>
            {{#each users }}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>{{this.apellido}}</td>
                    <td>{{this.dni}}</td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <h4>No hay datos que mostrar</h4>
    {{/if}}
</div>